<div class="container mt-4">

  <!-- boton para agregar curso -->
   
  <div>
    
  <h2 class="mb-4 text-primary">Listado de Cursos <button class="btn btn-primary" routerLink="/cartCourse" >Ver Carrito <span class="badge text-bg-secondary" >{{countItems()}}</span></button>
     </h2>
     
  </div>

  <div class="mb-4">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar curso por nombre..."
       [(ngModel)]="filtro"
      
    />
  </div>

  <div class="row g-4">
    @for (course of courses(); track $index) {
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-success">{{ course.name }}</h5>
            <p class="card-text">
              <strong>Descripción:</strong> {{ course.description }}<br>
              <strong>Duración:</strong> {{ course.duration }}<br>
              <strong>Nivel:</strong> {{ course.level }}<br>
              <strong>Precio:</strong> ${{ course.price | number:'1.0-0' }}
            </p>
          </div>
          <div class="card-footer text-end">
            <a class="btn btn-outline-primary btn-sm" (click)="addToCartItem(course)">
              Agregar al carrito
            </a>
          </div>
        </div>
      </div>
    }
  </div>

  @if (courses().length === 0) {
    <div class="alert alert-warning mt-4 text-center">
      No se encontraron cursos con ese nombre.
    </div>
  }
</div>
