<div class="container-fluid">
    <h3>Tabla Tareas</h3>

    <table class="table table-stripped">

    </table>
    <div
        class="table-responsive"
    >
        <table
            class="table table-primary"
        >
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">nOMBRE</th>
                    <th scope="col">DESCRIPCION</th>
                    <th scope="col">PRIORIDAD</th>
                    <th scope="col">TERMINADA</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @for (task of tasks(); track $index) {
                    <tr>
                        <td>{{task.id}}</td>
                        <td>{{task.name}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.priority}}</td>
                        <td>
                            <input type="checkbox" [checked]="task.done" (change)="task.done=!task.done">
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
    
</div>