<mat-card class="fullscreen-card">
  <mat-card-header>
    <mat-card-title  class="cardtitle">Adopta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile >
        <div>
            <h2 class="cardbody" style="font-size: xx-large;">Adopta una mascota y cambia su vida</h2>
            <p class="cardbody" subtitle-text-color="red">Adoptar una mascota es un acto de amor que transforma vidas. Al elegir la adopción, no solo le das un hogar a un animal necesitado, sino que también ayudas a reducir la sobrepoblación y apoyas a los refugios locales. Cada mascota adoptada es una oportunidad para crear un vínculo especial y brindar alegría tanto al animal como a su nuevo dueño. ¡Haz la diferencia hoy mismo y adopta una mascota!</p>
            <button mat-stroked-button routerLink="/dogs">Ver Perritos </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://storagevefe.blob.core.windows.net/angulardeveloper/lili.png" alt="Dog 2" height="500px">
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>

  </mat-card>   
